//Add Google Fonts here
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,300;1,400;1,600;1,800&display=swap");

//Typography
$font-head: "Bebas Neue", cursive;
$font-body: "Bitter", serif;

//Color Palette
$primary-color: #161616;
$secondary-color: #121212;
$menu-button: #ffffff;
$font-head-color: #8958fc;
$font-head-color-two: #af8cff;
$font-body-color: #fefefe;
