div.card {
  background-color: #4787e7;
  max-width: auto;
  height: auto;
  border-radius: 12px;
  padding: 2rem;
  color: black;
  text-decoration: none;
  font-style: normal;

  h2 {
    color: #ffffff;
  }

  p {
    color: #ffffff;
    text-decoration: none;
  }
}
