@import "./../styles/_style-guides.scss";

div.card {
  background-color: $primary-color;
  max-width: 20vw;
  height: auto;
  border-radius: 12px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 2rem;
  text-decoration: none;
  font-style: normal;

  h2 {
    color: $font-head-color-two;
  }

  h4 {
    color: $font-head-color-two;
  }

  p {
    color: $font-body-color;
    text-decoration: none;
  }
}
